extends layout

block content
  
  .block
    .colorblock.blue
       .innerblock Content HEre
       .blockhead About / Services
  .block
    .colorblock.pink
       .innerblock Content HEre
       .blockhead Work
       
