extends layout

block content    
  .newblock.blueborder.wow.slideInRight(id='divAbout' style='margin-top: 200px;')      
    .innerleft
       .textblock  At Conversa, we practice a forward-thinking approach to integrated communication, advocacy, multicultural marketing, and design. We’ve helped Fortune 500 clients, national non-profits, and small businesses define messages, protect interests, influence opinion leaders, and create the conditions necessary for social change. We strive to provide unmatched service to our clients; in fact, our partners work every account delivering the expertise and access expected.<br /><br />Our brand promise is uncomplicated, but effective – build relationships, execute tailored tactics, and deliver results.
       .bottomlink
                a OUR SERVICES                 
    .innerright
            img(src='images/womenkeyboard.png')
    .clear(style='clear: both;')
    .blockhead About / Services
    .stripe 
  .newblock.pinkborder.wow.slideInRight.pink.work(id='divWork')
    .innercontent     
    .clear(style='clear: both;')
    .blockhead Work
  .newblock.wow.slideInRight.workcontent(id='divWorkContent')
    .workwrapper
       .workrow
          .workitem
            img(src='images/Placeholder.jpg')
          .workitem
            img(src='images/Placeholder.jpg')
          .workitem
            img(src='images/Placeholder.jpg')
          .clear(style='clear: both;')
       .workrow
          .workitem
            img(src='images/Placeholder.jpg')
          .workitem
            img(src='images/Placeholder.jpg')
          .workitem  
            img(src='images/Placeholder.jpg')
          .clear(style='clear: both;') 
  .newblock.pinkborder.wow.slideInRight.workslider(id='divWorkSlidder')
    .innercontent             
        .arrow-down.arrowpink.center
    .clear(style='clear: both;')
  .newblock.yellowborder.wow.slideInRight(id='divTeam')
    .innerleft
       .textblock Our team is built on a foundation of dedication, loyalty, and trust. Collectively, we boast more nearly five decades of experience in public affairs, marketing, public relations, political campaigns, and policy development. Our team is also proficient in design, which enhances our ability to develop multifaceted campaigns that incorporate both digital and print elements to showcase the full spectrum of a brand's potential.  
       .bottomlink
                a MEET THE TEAM                 
    .innerright
            img(src='images/team.png')
    .clear(style='clear: both;')
    .blockhead Team
    .stripe 
  .newblock.grayborder.wow.slideInRight(id='divClient')
    .innercontent Stuff here    
    .clear(style='clear: both;')
    .blockhead Clients