extends layout

block content
  
  .block
    .colorblock.blue
       .blockhead About / Services
       .innerblock Content HEre
     
  .block
    .colorblock.pink
       .blockhead About / Services
       .innerblock Content HEre
