doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .headerwrapper
        .midground
        .foreground
        .logo
        .yellow
        .dots
        .menu
            ul
                 li 
                    .menuitem Home
                 li 
                    .menuitem About / Services
                 li 
                    .menuitem Work
                 li 
                    .menuitem Team
                 li 
                    .menuitem Clients
                 li 
                    .menuitem News
                 li 
                    .menuitem Let's Talk
                     
    .wrapper    
        block content
