@font-face {
     font-family: Aller;
     src: url(/fonts/Aller_Bd.ttf);
 }
.headerwrapper{
    padding: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    display: block;
    position: relative;
    background-attachment: fixed;
    
}
.wrapper {
    
    margin-top: 0px !important;
}
body {
    padding: 0px;
    margin: 0px;
    /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;   */ 
    font-family: Aller;
    background: 
        url(/images/header/1.png) center center no-repeat fixed;      
    background-size: 50%;
    width: 100%;
    height: 100%;
}

.midground {
	width: 87%;
    height: 100%;
    margin-left: 13%;   
    top: -100px;
    left: 0;
    position: absolute;
    z-index: -10;
    background: url(/images/header/5.png) 5% 50% no-repeat;
    background-size: cover;

}
.foreground {
    width: 87%;
    height: 100%; 
    margin-left: 13%;  
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
	background: url(/images/header/6.png) 95% 90% no-repeat;
    background-size: cover;
}
.logo {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: -1;
    background: url(/images/header/4.png) 90% 10% no-repeat fixed;
    background-size: 20%;
    margin-right: 150px;
}
.yellow {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: -1;
    background: url(/images/header/3.png) -3% 10% no-repeat fixed;
    background-size: 15%;
}

.dots {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: -1;
    background: url(/images/header/2.png) 100% 100% no-repeat fixed;
    background-size: 30%;
}

.menu {
    font-size: xx-large;
    position: fixed;
    top: 35%;
    margin-left: .5%;
}
.menu ul li {
    list-style-type: none;
    font-weight: bold;
    padding: 5px;
}
.menuitem{
    max-width: 200px;
}
a {
  color: #00B7FF;
}
.wrapper
{
    position: relative;
    margin-top: 100%;
}
.newinnerblock{
    background:White;
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
}
.newinnerblock:after {
  content:"";
  display:block;
  clear:both;
}
.newblock{
   
     
    border-left: 180px solid;
    border-top: 40px solid;
    border-bottom: 40px solid;
    margin-bottom: 100px;
    margin-left: 3%;
    position: relative;
    background-color: White;
}

.block
{
    /*min-height: 400px;*/
    margin-bottom: 100px;
    margin-left: 3%;
}
.colorblock
{
    position: relative;
    min-height: 490px;
}
.blockhead
{ 
    position: absolute;  
    top: 20px;  
    left: -230px;
    max-width: 250px;
    font-size: 5vh;
    font-weight: bold;      
}
.stripe{
    background: url(/images/graystrip.png) center center repeat;
    position: absolute;
    top: 75%;
    left: -230px;
    /* max-width: 200px; */
    width: 250px;
    height: 100px;
}
.firstrow{
     
}
.border{
    border: 1px solid;
}
.noborder{
    border: 0px solid;
}
.blueborder{
    border-color: #00ABEC;
}
.pinkborder{
     border-color: #E90089;
}
.grayborder{
     border-color: gray;
}
.yellowborder{
    border-color: #FFD900;
}
.blue{
    background-color: #00ABEC;
    
}
.pink{
    background-color: #E90089;
}
.work{
    min-height: 200px;
    margin-bottom: 10px !important;
}
.workslider{
    border: 5px solid #E90089 !important;     
    height: 100px;
}
.workcontent{
    background-color: transparent;
    border: none !important;
    margin-bottom: 10px !important;
}
.workrow{
    width: 100%;
}
.workitem{
    float: left;
    width: 33%;
    border: 5px solid white;
}
.workitem img{
    
    float: right;
    max-width: 100%;
}
.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	
	border-bottom: 5px solid black;
}
.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;	
	border-top: 20px solid #f00;
    cursor: pointer;
}
.center{
    position: absolute;
    top: 45%;
    left: 50%;
}
.arrowpink{
    border-top: 20px solid #E90089 !important;
}
.innerblock
{ 
    position: absolute;    
    height: 80%;    
    background-color: white;
    top: 40px;
    left: 10%;
    width: 90%;
}
.innerleft{
    float: left;
    width : 50%;
    height: 100%;      
    right: 0;
    top: 0;    
}
.innerright{
    float: right;
    width : 50%;
    height: 100%;      
    right: 0;
    top: 0;
}
.innerright img{   
    height: 100%;
    float: right;
    max-width: 100%;
}
.textblock{
    padding: 10%;
    padding-bottom: 2%;
    font-weight: bold;
    font-size: large;
}
.bottomlink a{
     font-weight: bold;
     font-size: 2vh;
     padding-left: 10%;
     color: black;
}
@media only screen and (max-device-width: 480px) {
    .blockhead  {
      color: red;
       top: -10px;
       left: -70px;
    }
    
}
@media (min-width: 0px) and (max-width: 849px) {
   .blockhead {
      color: green;
    }
   .columnmenu{
       display: none;
   }
   .slideInRight {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
   
  }

@media (min-width: 850px) and (max-width: 1300px) {
    .blockhead {
      color: fuchsia;
      top: -10px;
      left: -70px;
    }
    .columnmenu{
       display: none;
   }  
   .col-md-10{
      width: 100% !important;
   }
  
    .block
    {
      
        margin-left: 10%;
    }    
    .desc:after {
      content:" In fact, it's between 500px and 600px wide.";
    }
     .slideInRight {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
    
  }
  
  @media only screen and (max-device-width: 480px) {
   .columnmenu{
       display: none;
   }
   .blockhead
    { 
        position: absolute;       
        max-width: 500px;
        font-size: 2vh;        
    }
  .col-md-10{
      width: 100% !important;
   }
.newblock{          
        
    border-left: 50px solid;
    border-top: 25px solid;
    border-bottom: 25px solid;            
}
.blueborder{
    border-color: #00ABEC;
}
.pinkborder{
     border-color: #E90089;
}
.grayborder{
     border-color: gray;
}
.yellowborder{
    border-color: #FFD900;
}
    
.innerright img{
        
 
    
}
.midground {
	width: 100%;
    height: 100%;
    margin-left: 0;   
    top: -400px;
    left: 0;
    position: absolute;
    z-index: -10;
    background: url(/images/header/5.png) 10% 0 repeat;
    background-size: cover;

}
.foreground {
    width: 100%;
    height: 100%; 
    margin-left: 0;  
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
	background: url(/images/header/6.png) -90% 0 repeat;
    background-size: cover;
}
.logo {
   
    background-size: 50%;
  
}
}

